body {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    background-color: #EBEEF3;
}

a:visited,
a:active {
    color: initial;
}

main {
}

.blog_list {
    margin-top: 1000px;
}