.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 25%;
    &__text {
        font-weight: 200;
        font-size: 20px;
        padding: 10px;
        color: #2196F3;
    }
}