.wrapper{
  display: flex;
  justify-content: center;
}

.card {
    background-color: #fff;
    max-width: 941px;
    border-radius: 5px;
    padding: 16px 15px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 100px;
  
    &__content {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
    }
  
    &__info {
        max-width: 50rem;
      .info_header {
        display: flex;
        margin-bottom: 10px;
      }
  
      .info_title {
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        text-align: left;
        margin: 0 13px 0 0;
        color: #1890ff;
      }
  
      .info_likes {
        margin-top: 7px;
        margin-right: 10px;
      }
      
      .info_tag_container {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        margin-right: 5px;
      }

      .info_tags {
        padding: 2px 6px;
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 3px;
        font-family: Inter;
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
        text-align: left;
      }
    }
  
    &__user {
      display: flex;
      align-items:self-start;
  
      .user_userInfo {
        margin-right: 12px;
  
        .user_userName,
        .user_postDate {
          font-weight: 400;
          text-align: left;
          line-height: 28px;
        }
  
        .user_userName {
          font-size: 18px;
          color: rgba(0, 0, 0, 0.85);
          white-space: nowrap;
        }
  
        .user_postDate {
          font-size: 12px;
          line-height: 22px;
          color: rgba(0, 0, 0, 0.5);
          white-space: nowrap;
        }
      }
  
      &__avatar {
        width: 46px;
        height: 46px;
      }
    }
  
    &__description {
      font-size: 12px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0;
      text-align: left;
      margin-right: 180px;
      margin-bottom: 20px;
    }

    .card__body {
      font-size: 15px;

      p {
        margin-top: 0;
        margin-bottom: 1em;
      }
      h1, h2, h3, h4, h5, h6 {
        margin-top: 1.2em;
        margin-bottom: 0.6em;
      }
      ul, ol {
        padding-left: 2em;
        margin-top: 0.5em;
        margin-bottom: 1.2em;
      }
      a {
        color: #1890ff;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      code {
        color: #d63384;
        font-size: 14px;
        background-color: #f8f8f8;
        padding: 1px 3px;
        border-radius: 3px;
      }
    }
    
    .likesContainer{
      display: flex;
      gap: 3px;
      flex-wrap: nowrap;
      margin-top: 7px;
      margin-right: 50px;
    }
  }